* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: rgb(0,0,0,.7);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text h1 {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
    color: #ccc;
}

.hero-text span {
    text-transform: uppercase;
    color: rgb(170, 105, 202);
}

.section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

section {
    scroll-margin-top: 80px;
}


/* nawigacja */
nav {
    position: sticky;
    top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
    z-index: 10;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	background: none;
	border: none;
	line-height: 60px;
	font-size: 30px;
	cursor: pointer;
}

.nav-items {
	display: none;
}

/* header */
.header {
	position: relative;
	height: 330px;
	background-image: url('../img/sunset-small.jpg');
	background-size: cover;
	background-position: center;
}

/* main */
main {
    margin: 60px 0;
}

/* o nas */
.about-us-info {
    margin-bottom: 10px;
    padding: 0 20px;
}

/* lokalizacje */
.locations {
    margin: 60px auto;
}

.location {
position: relative;
height: 300px;
background-size: cover;
background-position: center;
text-align: center;
font-size: 16px;
}

.location h3 {
    text-transform: uppercase;
    transition: transform .3s;
}

.first-loc {
    background-image: url(../img/beach.jpg);
}

.second-loc {
    background-image: url(../img/tokyo.jpg);
}

.third-loc {
    background-image: url(../img/napoli.jpg);
}

.fourth-loc {
    background-image: url(../img/polynesia.jpg);
}

.location:hover h3 {
    transform: scale(1.5);
}

/* kontakt */
.contact {
    text-align: center;
}

.contact h3 {
    text-transform: uppercase;
    margin: 20px 0 5px;
}

.fa-solid {
    margin-right: 10px;
}

/* footer */
footer{
    padding: 30px 10px;
    text-align: center;
    background-color: #ddd;
}

@media (min-width: 768px) {
	.nav-items {
		display: block;
	}

	.burger-icon {
		display: none;
	}

	.nav-items a {
		padding: 0 30px;
		color: #333;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		transition: color 0.3s;
	}

	.nav-items a:hover {
		color: rgb(170, 105, 202);
	}

    .header {
        height: 400px;
        background-image: url('../img/sunset-big.jpg');
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .first-loc {
        background-image: url(../img/beach-big.jpg);
    }

    .second-loc {
        background-image: url(../img/tokyo-big.jpg);
    }

    .third-loc {
        background-image: url(../img/napoli-big.jpg);
    }

    .fourth-loc {
        background-image: url(../img/polynesia-big.jpg);
    }

    .location h3 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .locations-box{
        font-size: 0;
    }

    .location{
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .hero-text h1 {
        font-size: 42px;
    }

    .hero-text p {
        font-size: 20px;
    }
}
